alpha-blending = linear-corrected
auto-update = off
background = 000000
font-family = JetBrains Mono
font-family = Symbols Nerd Font Mono
font-size = 18.0
font-thicken = true
keybind = global:ctrl+grave_accent=toggle_quick_terminal
keybind = shift+enter=text:\n
shell-integration-features = no-cursor
theme = {{ .chezmoi.homeDir }}/.config/nvim/pack/rebelot/start/kanagawa.nvim/extras/ghostty/kanagawa-dragon
window-height = 44
window-width = 88
working-directory = home

# vim: ft=ghostty
