alpha-blending = linear-corrected
auto-update = off
background = 000000
font-family = JetBrains Mono
font-family = Symbols Nerd Font Mono
font-size = 18.0
font-thicken = true
keybind = global:ctrl+grave_accent=toggle_quick_terminal
shell-integration-features = no-cursor
theme = catppuccin-mocha
window-height = 44
window-width = 88
working-directory = home

# vim: ft=ghostty
