if [[ -d '{{ .homebrew.prefix }}/opt/fzf/shell' ]]; then
  source '{{ .homebrew.prefix }}/opt/fzf/shell/completion.zsh'
  source '{{ .homebrew.prefix }}/opt/fzf/shell/key-bindings.zsh'

  # local _fzf_opts_catppuccin_frappe=" \
  #   --color=bg+:#414559,bg:#303446,spinner:#F2D5CF,hl:#E78284 \
  #   --color=border:#737994,label:#C6D0F5 \
  #   --color=fg:#C6D0F5,header:#E78284,info:#CA9EE6,pointer:#F2D5CF \
  #   --color=marker:#BABBF1,fg+:#C6D0F5,prompt:#CA9EE6,hl+:#E78284 \
  #   --color=selected-bg:#51576D"
  #
  # local _fzf_opts_catppuccin_latte=" \
  #   --color=bg+:#CCD0DA,bg:#EFF1F5,spinner:#DC8A78,hl:#D20F39 \
  #   --color=border:#9CA0B0,label:#4C4F69 \
  #   --color=fg:#4C4F69,header:#D20F39,info:#8839EF,pointer:#DC8A78 \
  #   --color=marker:#7287FD,fg+:#4C4F69,prompt:#8839EF,hl+:#D20F39 \
  #   --color=selected-bg:#BCC0CC"
  #
  # readonly _fzf_ops_catppuccin_macchiato=" \
  #   --color=bg+:#363A4F,bg:#24273A,spinner:#F4DBD6,hl:#ED8796 \
  #   --color=border:#6E738D,label:#CAD3F5 \
  #   --color=fg:#CAD3F5,header:#ED8796,info:#C6A0F6,pointer:#F4DBD6 \
  #   --color=marker:#B7BDF8,fg+:#CAD3F5,prompt:#C6A0F6,hl+:#ED8796 \
  #   --color=selected-bg:#494D64"
  #
  # readonly _fzf_opts_catppuccin_mocha=" \
  #   --color=bg+:#313244,bg:#1E1E2E,spinner:#F5E0DC,hl:#F38BA8 \
  #   --color=border:#6C7086,label:#CDD6F4 \
  #   --color=fg:#CDD6F4,header:#F38BA8,info:#CBA6F7,pointer:#F5E0DC \
  #   --color=marker:#B4BEFE,fg+:#CDD6F4,prompt:#CBA6F7,hl+:#F38BA8 \
  #   --color=selected-bg:#45475A"
  #
  # if [[ "$(uname -s)" == Darwin ]] && [[ "$(defaults read -g AppleInterfaceStyle 2>/dev/null Dark)" ]]; then
  #   export FZF_DEFAULT_OPTS="${_fzf_opts_catppuccin_frappe:?}"
  # else
  #   export FZF_DEFAULT_OPTS="${_fzf_opts_catppuccin_latte:?}"
  # fi
fi
