set fish_greeting

set CDPATH "$HOME/src/github.com/{{ .github.user }}"
{{ if .work -}}
set CDPATH ~ ~/src/github.com/corda $CDPATH
{{ end -}}
set CDPATH . $CDPATH

set PATH ~/bin (python3 -msite --user-base)/bin ~/.local/bin $PATH

set --export PYTHONPATH (python3 -msite --user-site)

eval (direnv hook fish)
