if status is-interactive
    # Commands to run in interactive sessions can go here.
    set --export CDPATH . "$HOME/src/github.com/{{ .github.user }}"
    #cdpath=( ~/src/github.com/corda $cdpath )
    #cdpath=( . ${cdpath} )
end

# vim: ft=fish
