{{- $bitbucket_team := promptString "bitbucket_team" -}}
{{- $github_org := promptString "github_org" -}}
{{- $github_user := promptString "github_user" -}}
{{- $where := promptString "where" -}}

[data]
  bitbucket_team = "{{ $bitbucket_team }}"
  github_org = "{{ $github_org }}"
  github_user = "{{ $github_user }}"
  homebrew_prefix = "{{ if eq .chezmoi.arch "arm64" }}/opt/homebrew{{ else }}/usr/local{{ end }}"
  name = "Nick Osborn"
  where = "{{ $where }}"

[diff]
  pager = "less -R"

[git]
  autoCommit = true
  autoPush = true
