[submodule "private_dot_config/nvim/exact_pack/airblade/start/vim-gitgutter"]
	path = private_dot_config/nvim/exact_pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "private_dot_config/nvim/exact_pack/cespare/start/vim-toml"]
	path = private_dot_config/nvim/exact_pack/cespare/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "private_dot_config/nvim/exact_pack/chriskempson/start/base16-vim"]
	path = private_dot_config/nvim/exact_pack/chriskempson/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "private_dot_config/nvim/exact_pack/dense-analysis/start/ale"]
	path = private_dot_config/nvim/exact_pack/dense-analysis/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "private_dot_config/nvim/exact_pack/digitaltoad/start/vim-pug"]
	path = private_dot_config/nvim/exact_pack/digitaltoad/start/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "private_dot_config/nvim/exact_pack/direnv/start/direnv.vim"]
	path = private_dot_config/nvim/exact_pack/direnv/start/direnv.vim
	url = https://github.com/direnv/direnv.vim.git
[submodule "private_dot_config/nvim/exact_pack/godlygeek/start/tabular"]
	path = private_dot_config/nvim/exact_pack/godlygeek/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "private_dot_config/nvim/exact_pack/hashivim/start/vim-terraform"]
	path = private_dot_config/nvim/exact_pack/hashivim/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "private_dot_config/nvim/exact_pack/iamcco/start/markdown-preview.nvim"]
	path = private_dot_config/nvim/exact_pack/iamcco/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "private_dot_config/nvim/exact_pack/junegunn/start/fzf.vim"]
	path = private_dot_config/nvim/exact_pack/junegunn/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "private_dot_config/nvim/exact_pack/pangloss/start/vim-javascript"]
	path = private_dot_config/nvim/exact_pack/pangloss/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "private_dot_config/nvim/exact_pack/pearofducks/start/ansible-vim"]
	path = private_dot_config/nvim/exact_pack/pearofducks/start/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "private_dot_config/nvim/exact_pack/tpope/start/vim-commentary"]
	path = private_dot_config/nvim/exact_pack/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "private_dot_config/nvim/exact_pack/tpope/start/vim-fugitive"]
	path = private_dot_config/nvim/exact_pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "private_dot_config/nvim/exact_pack/vim-airline/start/vim-airline"]
	path = private_dot_config/nvim/exact_pack/vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "private_dot_config/nvim/exact_pack/vim-airline/start/vim-airline-themes"]
	path = private_dot_config/nvim/exact_pack/vim-airline/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
