{
  "filesystem": {
    "denyRead": [
      "**/.envrc",
      "~/.Trash",
      "~/.docker",
      "~/.gnupg",
      "~/.orbstack",
      "~/.ssh",
      "~/Desktop",
      "~/Documents",
      "~/Downloads",
      "~/Movies",
      "~/Music",
      "~/OrbStack",
      "~/Pictures",
      "~/SynologyDrive"
    ],
    "allowWrite": [
      "~/.claude",
      "~/.claude.json",
      ".",
      "/tmp/claude"
    ],
    "denyWrite": [
      "~/sensitive-folder"
    ]
  },
  "network": {
    "allowedDomains": [],
    "deniedDomains": []
  }
}
