brew 'chezmoi'
brew 'direnv'
brew 'git-lfs'
brew 'grc'
brew 'jq'
brew 'm-cli'
brew 'pstree'
brew 'zsh-completions'
brew 'zsh-syntax-highlighting'

{{- if ne .chezmoi.hostname "Nicks-Mac-mini" }}
tap 'homebrew/cask'
tap 'homebrew/cask-fonts'
tap 'homebrew/cask-versions'

# cask '1password-cli'
# brew 'aws-keychain'
# cask 'aws-vault'
# brew 'awslogs'
brew 'awscli'
brew 'bat'
brew 'black'
# brew 'cfn-lint'
cask 'chromium'
brew 'coreutils' # for timeout
brew 'ctags'
cask 'docker'
brew 'docker-clean'
brew 'exiftool'
brew 'findutils'
brew 'flake8'
cask 'font-input'
brew 'fzf'
brew 'gh'
brew 'git-delta'
brew 'git-imerge'
brew 'git-trim'
brew 'github-markdown-toc'
brew 'gnu-tar'
cask 'gpg-suite-no-mail'
brew 'grip' # for vim-markdown-preview
brew 'hadolint'
brew 'html2text' # for lesspipe
brew 'jinja2-cli'
brew 'jsonlint'
brew 'lesspipe'
# cask 'macvim'
brew 'p7zip'
brew 'pre-commit'
brew 'prettier'
brew 'pwgen'
cask 'rectangle'
brew 'ripgrep'
brew 'shellcheck'
brew 'shfmt'
brew 'sf-pwgen'
brew 'starship'
brew 'telnet'
brew 'terraform'
brew 'tflint'
brew 'tig'
brew 'vim'
brew 'watch'
brew 'wget'
brew 'yamllint'
brew 'yarn'
brew 'yq'
{{- end }}

{{- if eq .chezmoi.hostname "Nicks-MBP" }}
tap 'homebrew/cask-drivers'

# brew 'battle-net'
brew 'ansible'
brew 'ansible-lint'
brew 'eslint'
# cask 'ftdi-vcp-driver'
cask 'karabiner-elements'
cask 'keybase'
brew 'mas'
brew 'molecule'
# cask 'parallels'
cask 'philips-hue-sync'
brew 'qpdf'

if File.writable?('/Applications')
  mas '1Blocker', id: 1107421413
  mas 'Discovery', id: 1381004916
  # mas 'Microsoft Excel', id: 462058435
  # mas 'Microsoft Word', id: 462054704
  # mas 'Numbers', id: 409203825
  # mas 'Pages', id: 409201541
end
{{- end }}

{{- if eq .chezmoi.hostname "Nicks-Mac-mini" }}
brew 'get_iplayer'
{{- end }}

{{- if hasPrefix "19SGD-MAC11" .chezmoi.hostname}}
tap 'microsoft/mssql-release', 'https://github.com/Microsoft/homebrew-mssql-release'

# cask 'adoptopenjdk'
brew 'azcopy'
brew 'azure-cli'
# cask 'datadog-agent'
cask 'dbeaver-community'
cask 'keepassxc'
cask 'microsoft-azure-storage-explorer'
cask 'microsoft-teams'
brew 'msodbcsql17' # for mssql-tools
brew 'mssql-tools'
# brew 'mysql-client'
brew 'quazip' # for keepassxc
cask 'slack'
brew 'unixodbc'  # for msodbcsql*
cask 'webex-meetings'
{{- end }}

# vim: ft=ruby.jinja2
