# frozen_string_literal: true

tap 'grafana/grafana'
tap 'hashicorp/tap'
tap 'homebrew/bundle'
tap 'kubecolor/tap'

cask_args adopt: true

brew 'act'
brew 'actionlint'
brew 'aws-vault'
brew 'awscli'
brew 'awsdac'
brew 'bash-language-server'
brew 'bat'
brew 'black'
brew 'checkmake'
brew 'chezmoi'
brew 'cloudflare-cli4'
brew 'colima'
brew 'coreutils'
brew 'd2'
brew 'difftastic'
brew 'diffutils'
brew 'direnv'
brew 'dnstracer'
brew 'docker'
brew 'docker-buildx'
brew 'docker-credential-helper'
brew 'docker-credential-helper-ecr'
brew 'dotenv-linter'
brew 'eslint'
brew 'exiftool'
brew 'fd'
brew 'flake8'
brew 'flock'
cask 'font-jetbrains-mono', require_sha: true
cask 'font-symbols-only-nerd-font', require_sha: true
brew 'fzf'
brew 'gh'
brew 'git-delta'
brew 'git-filter-repo'
brew 'git-lfs'
brew 'git-trim'
brew 'gitleaks'
brew 'gitlint'
brew 'glow'
brew 'gnu-sed'
brew 'gnu-tar'
brew 'go'
brew 'golangci-lint'
cask 'google-cloud-sdk', require_sha: true
brew 'gopls'
brew 'gpg2'
brew 'grafana/grafana/alloy'
brew 'graphviz'
brew 'gron'
brew 'hadolint'
brew 'hashicorp/tap/terraform'
brew 'hcl2json'
brew 'helm'
brew 'ipcalc'
brew 'istioctl'
brew 'jq'
brew 'jsonlint'
brew 'jsonnet'
cask 'kitty', require_sha: true
brew 'krew'
brew 'kube-linter'
brew 'kubecolor'
brew 'kubeconform'
brew 'kubectx'
brew 'kubernetes-cli'
brew 'kustomize'
brew 'kyverno'
brew 'linkerd'
brew 'lua'
brew 'luacheck'
brew 'markdownlint-cli'
cask 'monitorcontrol', require_sha: true
brew 'neovim'
brew 'node@18'
brew 'node@20'
brew 'openapi-generator'
brew 'parallel'
brew 'pinentry-mac'
brew 'pipx'
brew 'pre-commit'
brew 'prettier'
brew 'pstree'
brew 'pwgen'
brew 'python-argcomplete'
brew 'qrencode'
cask 'rectangle', require_sha: true
brew 'rg'
brew 'sf-pwgen'
brew 'shellcheck'
brew 'shfmt'
brew 'skopeo'
brew 'starship'
brew 'steampipe'
brew 'stylua'
brew 'telnet'
brew 'terramate'
brew 'tflint'
brew 'tfsec' # DEPRECATED
brew 'tfupdate'
brew 'trivy'
brew 'trufflehog'
brew 'typescript'
brew 'vint'
brew 'virtualenv'
brew 'watch'
brew 'wdiff'
brew 'wireguard-tools'
brew 'yamllint'
brew 'yj'
brew 'yq'
brew 'zsh-autosuggestions'
brew 'zsh-completions'
brew 'zsh-syntax-highlighting'

if '{{ .where }}' == 'home'
  brew 'ansible'
  brew 'ansible-lint'
  brew 'b2-tools'
  cask 'battle-net'
  brew 'ssh-audit'
  brew 'vultr'
  brew 'yubico-piv-tool'
  brew 'yubikey-personalization'
end

if '{{ .where }}' == 'work'
  tap 'argoproj/tap'

  brew 'argocd'
  brew 'bfg'
  cask 'google-chrome', require_sha: true
  cask 'google-drive', require_sha: true
  brew 'gradle'
  brew 'kubectl-argo-rollouts'
  brew 'mysql-client'
  brew 'openjdk'
  brew 'poetry'
  brew 'postgresql@14'
  brew 'postgresql@15'
  cask 'pritunl', require_sha: true
  cask 'slack', require_sha: true
  brew 'sops'
  cask 'teleport-connect', require_sha: true
  cask 'visual-studio-code', require_sha: true
  cask 'zoom', require_sha: true
end

# vim: ft=ruby
