{{ if eq .where "work" -}}
# The following lines were added by Docker Desktop to add commands to your PATH.
export PATH="${PATH}:{{ .chezmoi.homeDir }}/.docker/bin"
# End of Docker Desktop section.

if [[ -x '{{ .chezmoi.homeDir }}/.local/bin/festool' ]]; then
  eval "$('{{ .chezmoi.homeDir }}/.local/bin/festool' helpers generate)"
elif [[ -x '{{ .homebrew.prefix }}/bin/festool' ]]; then
  eval "$('{{ .homebrew.prefix }}/bin/festool' helpers generate)"
fi
{{- end }}
