# frozen_string_literal: true

WHERE = '{{ .where }}'

tap 'homebrew/bundle'
tap 'homebrew/cask'
tap 'homebrew/cask-fonts'
tap 'homebrew/core'

brew 'act'
brew 'actionlint'
brew 'ansible' if WHERE == 'home'
brew 'ansible-lint' if WHERE == 'home'
brew 'aws-keychain'
brew 'awscli'
brew 'b2-tools' if WHERE == 'home'
brew 'bat'
brew 'black'
brew 'chezmoi'
brew 'clang-format' if WHERE == 'home'
brew 'cmake' # for building gems
brew 'codespell'
brew 'colima'
brew 'diceware'
brew 'direnv'
brew 'docker'
brew 'docker-clean'
brew 'exiftool'
brew 'findutils'
brew 'gh'
brew 'git'
brew 'git-delta'
brew 'git-lfs'
brew 'git-trim'
brew 'gnu-tar'
brew 'go'
brew 'gopls'
# brew 'grip' # for vim-markdown-preview
brew 'hadolint'
brew 'http-prompt'
brew 'jinja2-cli'
brew 'jq'
brew 'jsonlint'
brew 'lastpass-cli' if WHERE == 'work'
brew 'lesspipe'
brew 'lua' if WHERE == 'home'
brew 'm-cli'
brew 'markdownlint-cli'
brew 'mdcat'
brew 'neovim'
brew 'node'
brew 'packer' if WHERE == 'home'
brew 'pkg-config' # for building gems
brew 'pre-commit'
brew 'prettier'
brew 'protobuf-c' if WHERE == 'home'
brew 'pstree'
brew 'pwgen'
brew 'ruby'
brew 'shellcheck'
brew 'shfmt'
brew 'sf-pwgen'
brew 'starship'
brew 'teleport' if WHERE == 'work'
brew 'telnet'
brew 'terraform' if WHERE == 'home'
brew 'terraform-docs' if WHERE == 'work'
brew 'terrascan' if WHERE == 'work'
brew 'tfenv' if WHERE == 'work'
brew 'tflint'
brew 'tgenv' if WHERE == 'work'
brew 'tintin' if WHERE == 'home'
brew 'vint'
brew 'yamllint'
brew 'zsh-autosuggestions'
brew 'zsh-completions'
brew 'zsh-syntax-highlighting'

cask 'aws-vault' if WHERE == 'home'
cask 'chromium' if WHERE == 'home'
cask 'font-cascadia-mono-pl'
cask 'google-chrome' if WHERE == 'work'
cask 'google-drive' if WHERE == 'work'
cask 'gpg-suite-no-mail'
cask 'lastpass' if WHERE == 'work'
cask 'monitorcontrol'
cask 'mudlet' if WHERE == 'home'
cask 'oversight'
cask 'pritunl' if WHERE == 'work'
cask 'rectangle'
cask 'slack' if WHERE == 'work'
cask 'vagrant' if WHERE == 'home'
cask 'virtualbox' if WHERE == 'home'

# vim: ft=ruby
