export ANSIBLE_NOCOWS=1
export CHECKPOINT_DISABLE=1 # Hashicorp
export HOMEBREW_BAT=1
export HOMEBREW_BUNDLE_NO_LOCK=1
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_EMOJI=1
export HOMEBREW_NO_ENV_HINTS=1
export HOMEBREW_NO_INSECURE_REDIRECT=1
export LC_ALL=en_GB.UTF-8
export PRE_COMMIT_ALLOW_NO_CONFIG=1
export PYTHONDONTWRITEBYTECODE=1
export PYTHONWARNINGS=ignore
export SAM_CLI_TELEMETRY=0 # AWS SAM CLI
{{ if eq .chezmoi.os "darwin" -}}
export STARSHIP_CACHE="${HOME}/Library/Caches/starship"
{{ end -}}
export SUDO_PROMPT='[sudo] password for %p: '
export TF_CLI_ARGS_apply='-compact-warnings'
export TF_CLI_ARGS_destroy='-compact-warnings'
export TF_CLI_ARGS_plan='-compact-warnings'
export TF_CLI_ARGS_refresh='-compact-warnings'
export TF_CLI_ARGS_test='-compact-warnings'
export TF_IN_AUTOMATION=1
export TF_PLUGIN_CACHE_DIR="${HOME}/.terraform.d/plugin-cache"
{{ if and (eq .where "work") (ne .chezmoi.arch "amd64") -}}
export TFENV_ARCH='{{ .chezmoi.arch }}'
{{ end -}}
export XDG_CACHE_HOME="${HOME}/Library/Caches"
export XDG_DATA_HOME="${HOME}/.local/share"

# vim: ft=zsh
