setopt HIST_FCNTL_LOCK
setopt HIST_FIND_NO_DUPS
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_REDUCE_BLANKS
setopt PROMPT_SP
setopt PROMPT_SUBST
setopt SHARE_HISTORY

export HISTORY_IGNORE='(bg|cd *|exit|fg|pwd)'

HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
bindkey -e

autoload -Uz compinit && compinit
autoload -Uz +X bashcompinit && bashcompinit

{{- if ne "" .bitbucket_team }}
cdpath=( "${HOME}/src/bitbucket.org/{{ .bitbucket_team }}" ${cdpath} )
{{- end }}
{{- if ne "" .github_org }}
cdpath=( "${HOME}/src/github.com/{{ .github_org }}" ${cdpath} )
{{- end }}
{{- if ne "" .github_user }}
cdpath=( "${HOME}/src/github.com/{{ .github_user }}" ${cdpath} )
{{- end }}
cdpath=( . ${cdpath} )
fpath=( ~/.local/share/zsh-completions {{ .homebrew_prefix }}/share/zsh-completions ${fpath} )
path=( {{ .homebrew_prefix }}/sbin ${path} )
if [[ -d "$(brew --prefix ruby)" ]]; then
  path=( "$(brew --prefix ruby)/bin" ${path} )
  path=( "$(gem env gemdir)/bin" ${path} )
fi
path=( ~/bin $(python3 -msite --user-base)/bin ~/.local/bin ${path} )

autoload -U colors
colors

# autoload -Uz bracketed-paste-magic
# zle -N bracketed-paste bracketed-paste-magic

# autoload -Uz url-quote-magic
# zle -N self-insert url-quote-magic

for config_file (~/.zsh/lib/*.zsh); do
  source "${config_file}"
done

# export PROMPT='${SSH_CLIENT:+%m:}%F{2}$(abbreviated_path)%f%# '
export PROMPT_EOL_MARK='%F{1}⏎%f'

autoload -Uz vcs_info
zstyle ':vcs_info:*' formats \
  '%F{5}(%f%s%F{5})%F{3}-%F{5}[%F{2}%b%F{5}]%f '
zstyle ':vcs_info:*' actionformats \
  '%F{5}(%f%s%F{5})%F{3}-%F{5}[%F{2}%b%F{3}|%F{1}%a%F{5}]%f '
zstyle ':vcs_info:*' enable git
zstyle ':vcs_info:*' check-for-staged-changes true
#zstyle ':vcs_info:*' stagedstr '%F{green}●%f '
#zstyle ':vcs_info:*' unstagedstr '%F{yellow}●%f '

#zstyle ':vcs_info:git:*' check-for-changes true
#zstyle ':vcs_info:git:*' formats "%F{blue}%b%f %u%c"
###zstyle ':vcs_info:*' formats "[%b]%u%c-"

export CLICOLOR=1
export EDITOR=nvim
export VISUAL=nvim

alias diff='command diff -W${COLUMNS} -x .terraform -d'
alias glow='command glow -w ${COLUMNS}'
alias sdiff='command sdiff -d -w${COLUMNS}'
alias vi=nvim
alias vim=nvim

#comp_files=()
#comp_files+=({{ .homebrew_prefix }}/etc/bash_completion.d/npm)
##comp_files+=({{ .homebrew_prefix }}/etc/bash_completion.d/vagrant)
#
#for f in ${comp_files}; do
#  [[ -f "${f}" ]] && source "${f}"
#done

if [[ "${TERM_PROGRAM}" = Apple_Terminal ]]; then
  _update_terminal_cwd() {
    local url_path=''
    {
      local LC_CTYPE=C LC_ALL= byte i ord
      for ((i = 0; i < ${#PWD}; ++i)); do
        byte="${PWD[i]}"
        if [[ "${byte}" =~ [/._~A-Za-z0-9-] ]]; then
          url_path+="${byte}"
        else
          ord=$(([#16] #byte))
          url_path+="%${ord}"
        fi
      done
    }
    printf '\e]7;%s\a' "file://${HOST}${url_path}"
  }
  typeset -ag chpwd_functions
  if [[ -z ${chpwd_functions[(r)_update_terminal_cwd]} ]]; then
    chpwd_functions+=_update_terminal_cwd
  fi
  _update_terminal_cwd
fi

# Do at end.
if [[ -e {{ .homebrew_prefix }}/share/zsh-autosuggestions/zsh-autosuggestions.zsh ]]; then
  source {{ .homebrew_prefix }}/share/zsh-autosuggestions/zsh-autosuggestions.zsh
fi

# Do at end.
if [[ -e {{ .homebrew_prefix }}/share/zsh-fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh ]]; then
  source {{ .homebrew_prefix }}/share/zsh-fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh
elif [[ -e {{ .homebrew_prefix }}/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]]; then
  source {{ .homebrew_prefix }}/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
fi

# Do at end.
if (( $+commands[starship] )); then
  eval "$(starship init zsh)"
fi

# Do at end.
if (( $+commands[direnv] )); then
  eval "$(direnv hook zsh)"
fi

# vim: ft=zsh.jinja2
