# yamllint disable rule:line-length
---
overrides:
  - files:
      - .markdownlintrc
    options:
      parser: json

  - files:
      - "*.markdown"
      - "*.md"
    options:
      proseWrap: preserve

  - files:
      - .ansible-lint
      - .prettierrc
      - .yamllint
    options:
      parser: yaml

plugins:
  - "{{ .chezmoi.homeDir }}/.local/lib/node_modules/prettier-plugin-toml/lib/index.cjs"

# vim: ft=yaml.gotmpl
