tap 'homebrew/cask'
tap 'homebrew/cask-fonts'

brew 'actionlint'
# brew 'aws-keychain'
# cask 'aws-vault'
# brew 'awslogs'
brew 'awscli'
brew 'azcopy'
brew 'bat'
brew 'black'
brew 'chezmoi'
cask 'chromium'
brew 'cmake' # for building gems
brew 'direnv'
cask 'docker'
brew 'docker-clean'
brew 'exiftool'
brew 'findutils'
brew 'fish'
brew 'flake8'
cask 'font-input'
brew 'fzf'
brew 'gh'
brew 'git-delta'
brew 'git-lfs'
brew 'git-trim'
brew 'github-markdown-toc'
brew 'gitleaks'
brew 'gnu-tar'
cask 'gpg-suite-no-mail'
brew 'grc'
brew 'grip' # for vim-markdown-preview
brew 'hadolint'
brew 'html2text' # for lesspipe
brew 'jd'
brew 'jinja2-cli'
brew 'jq'
brew 'jsonlint'
cask 'kitty'
brew 'lesspipe'
brew 'm-cli'
cask 'monodraw'
brew 'neovim'
brew 'node@14'
brew 'p7zip'
brew 'packer'
brew 'parallel'
brew 'pkg-config' # for building gems
cask 'powershell'
brew 'prettier'
brew 'pstree'
brew 'pwgen'
cask 'rectangle'
brew 'ripgrep'
brew 'ruby'
brew 'shellcheck'
brew 'shfmt'
brew 'sf-pwgen'
brew 'starship'
brew 'telnet'
brew 'terraform'
brew 'tflint'
brew 'tfsec'
cask 'vagrant'
brew 'vim'
cask 'virtualbox'
brew 'watch'
brew 'wdiff'
brew 'wget'
brew 'yarn'
brew 'yq'
brew 'zsh-autosuggestions'
brew 'zsh-completions'
brew 'zsh-syntax-highlighting'

{{- if eq .where "home" }}
tap 'homebrew/cask-drivers'

# brew 'battle-net'
brew 'b2-tools'
brew 'diceware'
# cask 'ftdi-vcp-driver'
brew 'git-crypt'
brew 'gulp-cli'
brew 'mas'
# cask 'philips-hue-sync'
# brew 'qpdf'
brew 'ssh-audit'
brew 'testssl'
brew 'vultr'
brew 'wireguard-tools'

{{- end }}
{{- if eq .where "work" }}
tap 'microsoft/mssql-release', 'https://github.com/Microsoft/homebrew-mssql-release'

cask 'adoptopenjdk' # for dbeaver-community
cask 'dbeaver-community'
cask 'keepassxc'
cask 'microsoft-azure-storage-explorer'
brew 'msodbcsql17' # for mssql-tools
brew 'mssql-tools' # needs ACCEPT_EULA=Y
brew 'openssl@3' # for msodbssql*, mssql-tools
brew 'quazip' # for keepassxc
brew 'unixodbc' # for msodbcsql*

{{- end }}
# vim: ft=ruby.jinja2
