export LC_ALL=en_GB.UTF-8

# Ansible
export ANSIBLE_NOCOWS=1
export ANSIBLE_TIMEOUT=24

{{ if (index . "datadog") -}}
# Datadog
export DATADOG_HOST='{{ .datadog.host }}'

{{ end -}}
# HashiCorp
export CHECKPOINT_DISABLE=1

# Homebrew
export HOMEBREW_BAT=1
export HOMEBREW_BUNDLE_NO_LOCK=1
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_NO_INSECURE_REDIRECT=1

# Microsoft
export MSSQL_CLI_TELEMETRY_OPTOUT=True

# Python
export PYTHONDONTWRITEBYTECODE=1
export PYTHONWARNINGS=ignore

# Rust
if [[ -e "${HOME}/.cargo/env" ]]; then
  source "${HOME}/.cargo/env"
fi

# Terraform
export TF_CLI_ARGS_apply='-compact-warnings -parallelism=20'
export TF_CLI_ARGS_plan='-compact-warnings -parallelism=20'
export TF_CLI_ARGS_refresh='-compact-warnings -parallelism=20'

# XDG
export XDG_CACHE_HOME="${HOME}/Library/Caches"
export XDG_DATA_HOME="${HOME}/.local/share"

# sudo
export SUDO_PROMPT="[sudo] password for $(id -un): "

# vim: ft=zsh
