tap 'homebrew/cask'
{{ if .home -}}
tap 'homebrew/cask-drivers'
{{ end -}}
tap 'homebrew/cask-fonts'
{{ if .work -}}
tap 'microsoft/mssql-release', 'https://github.com/Microsoft/homebrew-mssql-release'
{{ end -}}
tap 'twpayne/taps'

# cask '1password-cli'
{{ if .work -}}
cask 'adoptopenjdk'
{{ end -}}
cask 'aerial'
{{ if not .work -}}
brew 'ansible'
brew 'ansible-lint'
{{ end -}}
# brew 'aws-keychain'
# cask 'aws-vault'
brew 'awscli'
# brew 'awslogs'
brew 'azure-cli'
{{ if .home -}}
brew 'b2-tools'
{{ end -}}
brew 'bat'
{{ if .home -}}
# brew 'battle-net'
{{ end -}}
brew 'black'
{{ if .home -}}
cask 'blockblock'
{{ end -}}
brew 'bumpversion'
# brew 'cfn-lint'
brew 'chezmoi'
cask 'chromium'
brew 'ctags'
brew 'direnv'
cask 'docker'
brew 'eslint'
brew 'exiftool'
brew 'findutils'
cask 'font-input'
{{ if .home -}}
cask 'ftdi-vcp-driver'
{{ end -}}
brew 'fzf'
brew 'git'
brew 'git-lfs'
cask 'github'
brew 'github-markdown-toc'
brew 'gnu-tar'
cask 'gpg-suite-no-mail'
brew 'hadolint'
brew 'html2text' # for lesspipe
brew 'hub'
brew 'jinja2-cli'
brew 'jq'
brew 'jsonlint'
{{ if .home -}}
cask 'karabiner-elements'
{{ end -}}
{{ if .home -}}
cask 'keybase'
{{ end -}}
{{ if .work -}}
cask 'keepassxc'
{{ end -}}
{{ if .home -}}
# cask 'knockknock'
{{ end -}}
brew 'lesspipe'
{{ if .home -}}
cask 'logitech-gaming-software'
{{ end -}}
brew 'm-cli'
brew 'mas'
{{ if .work -}}
brew 'mssql-tools'
{{ end -}}
brew 'nvim'
brew 'p7zip'
brew 'pre-commit'
brew 'prettier'
brew 'pstree'
brew 'pwgen'
{{ if .work -}}
brew 'quazip' # for keepassxc
{{ end -}}
{{ if .home -}}
brew 'qpdf'
{{ end -}}
{{ if .home -}}
# cask 'razer-synapse'
{{ end -}}
brew 'ripgrep'
brew 'sf-pwgen'
brew 'shellcheck'
brew 'shfmt'
{{ if .work -}}
cask 'slack'
{{ end -}}
cask 'spectacle'
brew 'telnet'
brew 'terraform'
brew 'terraform-docs'
brew 'tflint'
brew 'tig'
{{ if .work -}}
brew 'unixodbc'  # for msodbcsql*
{{ end -}}
cask 'vagrant'
brew 'vim'
cask 'virtualbox'
{{ if .work -}}
cask 'visual-studio-code'
{{ end -}}
brew 'yamllint'
# brew 'yank'
brew 'yarn'
brew 'yq'
# brew 'zsh-autosuggestions'
brew 'zsh-completions'
# brew 'zsh-git-prompt'
brew 'zsh-syntax-highlighting'

if File.writable?('/Applications')
  mas '1Blocker', id: 1107421413
  # # mas 'Daisy Disk', id: 411643860
  # mas 'Discovery', id: 1381004916
  # mas 'Microsoft Excel', id: 462058435
  # mas 'Microsoft Word', id: 462054704
  # mas 'Numbers', id: 409203825
  # mas 'Pages', id: 409201541
end
