tap 'homebrew/cask'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
tap 'homebrew/cask-drivers'
{{- end }}
tap 'homebrew/cask-fonts'
tap 'twpayne/taps'

# cask '1password-cli'
# cask 'aerial'
# brew 'ag'
# brew 'amazon-ecs-cli'
brew 'ansible'
brew 'ansible-lint'
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
brew 'atlassian-cli'
{{- end }}
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
brew 'awscli'
{{- end }}
# brew 'awslogs'
# brew 'aws-keychain'
# cask 'aws-vault'
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
brew 'azure-cli'
{{- end }}
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'balenaetcher'
{{- end }}
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'bettertouchtool'
{{- end }}
brew 'black'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'blockblock'
{{- end }}
# cask 'caffeine'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
brew 'cfn-lint'
{{- end }}
brew 'chezmoi'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
brew 'circleci'
{{- end }}
brew 'ctags'
brew 'direnv'
# cask 'docker'
# brew 'docker-clean'
# brew 'docker-completion'
# brew 'docker-compose-completion'
# brew 'docker-machine-completion'
# cask 'dynamodb-local'
# brew 'eslint'
brew 'exiftool'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
brew 'exiftags'
{{- end }}
cask 'font-source-code-pro'
brew 'gem-completion'
# brew 'git'
brew 'git-lfs'
brew 'git-secrets'
# brew 'github-markdown-toc'
# brew 'gitlab-gem'
brew 'gnu-tar'
# brew 'gnupg'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
brew 'go'
{{- end }}
# cask 'google-chrome'
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
brew 'gradle-completion'
{{- end }}
# brew 'groovy'
brew 'grunt-completion'
brew 'hadolint'
brew 'html2text' # for lesspipe
brew 'hub'
# cask 'iterm2'
# cask 'java' unless system '/usr/libexec/java_home --failfast >/dev/null'
brew 'jq'
brew 'jsonlint'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'keybase'
{{- end }}
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
cask 'keypassxc'
{{- end }}
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'kitty'
{{- end }}
# cask 'knockknock'
# brew 'launchctl-completion'
brew 'lesspipe'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'logitech-gaming-software'
{{- end }}
brew 'm-cli'
# cask 'markdownmdimporter' -- no checksum
brew 'mas'
# brew 'maven'
# brew 'maven-completion'
# cask 'micro-snitch'
# brew 'minio'
brew 'node'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'oversight'
{{- end }}
# brew 'packer'
# brew 'pipenv'
cask 'pock'
brew 'prettier'
brew 'proselint'
brew 'pstree'
brew 'pwgen'
cask 'qlmarkdown'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'razer-synapse'
{{- end }}
# brew 'rbenv'
brew 'ripgrep'
# brew 'rpm'
# brew 'rpm2cpio'
# brew 'ruby-completion'
brew 'sf-pwgen'
brew 'shellcheck'
brew 'shfmt'
cask 'spectacle'
# brew 'speedtest-cli'
brew 'ssh-audit'
# cask 'subler'
brew 'telnet'
brew 'terminal-notifier'
brew 'terraform'
brew 'terraform_landscape'
brew 'tflint'
brew 'tig'
# cask 'transmission'
# cask 'vagrant'
brew 'vim'
# cask 'virtualbox'
# cask 'wireshark'
# brew 'watchexec'
# brew 'watchman'
# brew 'wdiff'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
brew 'wine'
brew 'winetricks'
{{- end }}
# cask 'wireshark'
# brew 'xhyve'
brew 'yamllint'
# brew 'yank'
brew 'yarn'
brew 'yq'
# cask 'zenmap'
# brew 'zsh-autosuggestions'
brew 'zsh-completions'
brew 'zsh-syntax-highlighting'

# if File.writable?('/Applications')
#   # mas 'Daisy Disk', id: 411_643_860
#   mas 'Discovery', id: 1_381_004_916
#   mas 'Microsoft Excel', id: 462_058_435
#   mas 'Microsoft Word', id: 462_054_704
#   mas 'Numbers', id: 409_203_825
#   mas 'Pages', id: 409_201_541
# end
