tap 'homebrew/cask'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
tap 'homebrew/cask-drivers'
{{- end }}
tap 'homebrew/cask-fonts'
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
tap 'microsoft/mssql-preview', 'https://github.com/Microsoft/homebrew-mssql-preview'
{{- end }}
tap 'twpayne/taps'

{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask '1password-cli'
{{- end }}
cask 'aerial'
# brew 'ag'
brew 'ansible'
brew 'ansible-lint'
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
brew 'atlassian-cli'
{{- end }}
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
# brew 'aws-keychain'
# cask 'aws-vault'
brew 'awscli'
# brew 'awslogs'
{{- end }}
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
brew 'azure-cli'
{{- end }}
brew 'bat'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'bettertouchtool'
{{- end }}
brew 'black'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'blockblock'
{{- end }}
# cask 'caffeine'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
brew 'cfn-lint'
{{- end }}
brew 'checkbashisms'
brew 'chezmoi'
cask 'chromium'
brew 'ctags'
brew 'direnv'
# cask 'docker'
# brew 'docker-clean'
brew 'dpkg'
brew 'exiftool'
cask 'font-source-code-pro'
cask 'font-sourcecodepro-nerd-font'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'ftdi-vcp-driver'
{{- end }}
brew 'fzf'
# brew 'git'
brew 'git-lfs'
brew 'git-secrets'
brew 'github-markdown-toc'
brew 'gnu-tar'
brew 'gnupg'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
brew 'go'
{{- end }}
brew 'html2text' # for lesspipe
brew 'hub'
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
# cask 'intellij-idea-ce'
{{- end }}
# cask 'java' unless system '/usr/libexec/java_home --failfast >/dev/null'
brew 'jq'
brew 'jsonlint'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'keybase'
{{- end }}
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
cask 'keepassxc'
{{- end }}
# cask 'knockknock'
brew 'lesspipe'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'logitech-gaming-software'
{{- end }}
brew 'm-cli'
# cask 'markdownmdimporter' -- no checksum
brew 'mas'
# brew 'maven'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
# cask 'micro-snitch'
{{- end }}
brew 'molecule'
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
brew 'msodbcsql'
brew 'mssql-tools'
{{- end }}
brew 'neovim'
brew 'node'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'oversight'
{{- end }}
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
brew 'p7zip'
{{- end }}
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
brew 'packer'
{{- end }}
brew 'pandoc'
cask 'pock'
brew 'prettier'
brew 'proselint'
brew 'pstree'
brew 'pwgen'
cask 'qlmarkdown'
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
brew 'quazip' # for keepassxc
{{- end }}
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'razer-synapse'
{{- end }}
brew 'ripgrep'
# brew 'rpm'
brew 'sf-pwgen'
brew 'shellcheck'
brew 'shfmt'
cask 'spectacle'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
# cask 'subler'
{{- end }}
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
cask 'subsurface'
{{- end }}
brew 'telnet'
brew 'terraform'
brew 'tflint'
brew 'tig'
{{- if ne .chezmoi.hostname "19SGD-MAC11" }}
# cask 'transmission'
{{- end }}
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
brew 'unixodbc'  # for msodbcsql
{{- end }}
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
cask 'vagrant'
{{- end }}
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
cask 'virtualbox'
{{- end }}
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
cask 'visual-studio-code'
{{- end }}
# cask 'wireshark'
# brew 'watchexec'
# brew 'watchman'
# brew 'wdiff'
{{- if eq .chezmoi.hostname "Nicks-MBP" }}
brew 'wine'
brew 'winetricks'
{{- end }}
# cask 'wireshark'
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
# brew 'xhyve'
{{- end }}
brew 'yamllint'
# brew 'yank'
brew 'yarn'
brew 'yq'
# brew 'zsh-autosuggestions'
brew 'zsh-completions'
brew 'zsh-git-prompt'
brew 'zsh-syntax-highlighting'

# if File.writable?('/Applications')
#   # mas 'Daisy Disk', id: 411_643_860
#   mas 'Discovery', id: 1_381_004_916
#   mas 'Microsoft Excel', id: 462_058_435
#   mas 'Microsoft Word', id: 462_054_704
#   mas 'Numbers', id: 409_203_825
#   mas 'Pages', id: 409_201_541
# end
