{{- if .heroku.user }}
machine api.heroku.com
  login {{ .heroku.user }}
  password {{ keyring "api.heroku.com" .heroku.user }}
machine code.heroku.com
  login {{ .heroku.user }}
  password {{ keyring "code.heroku.com" .heroku.user }}
{{- end }}
