setopt HIST_FCNTL_LOCK
setopt HIST_FIND_NO_DUPS
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_REDUCE_BLANKS
setopt PROMPT_SP
setopt PROMPT_SUBST
setopt SHARE_HISTORY

export HISTORY_IGNORE='(bg|cd *|exit|fg|pwd)'

# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
bindkey -e
# zstyle :compinstall filename ~/.zshrc

autoload -Uz compinit && compinit
autoload -Uz +X bashcompinit && bashcompinit

{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
cdpath=( ~/src/github.com/corda $cdpath )
{{- end }}
{{- if .github.user }}
cdpath=( ~/src/github.com/{{ .github.user }} $cdpath )
{{- end }}
fpath=( /usr/local/share/zsh-completions $fpath )
path=( ~/bin $path )

autoload -U colors
colors

if [[ -z "${SSH_CLIENT}" ]]; then
  prompt_host=''
else
  prompt_host='%m '
fi

autoload -U vcs_info
zstyle ':vcs_info:*' enable git
zstyle ':vcs_info:*' stagedstr '%F{green}●%f '
zstyle ':vcs_info:*' unstagedstr '%F{yellow}●%f '
zstyle ':vcs_info:git:*' check-for-changes true
zstyle ':vcs_info:git:*' formats "%F{blue}%b%f %u%c"
##zstyle ':vcs_info:*' formats "[%b]%u%c-"

precmd_functions+=( vcs_info )
export PROMPT="%~%# "
export RPROMPT='${vcs_info_msg_0_}'

export CLICOLOR=1
export EDITOR=vim

if (( $+commands[lesspipe.sh] )); then
  export LESSOPEN="|$commands[lesspipe.sh] %s"
  export LESS_ADVANCED_PREPROCESSOR=1
fi

alias sdiff='command sdiff -d -w${COLUMNS}'

if (( $+commands[terraform] )); then
  complete -o nospace -C $commands[terraform] terraform
fi

comp_files=()
comp_files+=(/usr/local/etc/bash_completion.d/az)
comp_files+=(/usr/local/etc/bash_completion.d/npm)
#comp_files+=(/usr/local/etc/bash_completion.d/rg.bash)
#comp_files+=(/usr/local/etc/bash_completion.d/vagrant)

for f in $comp_files; do
  if [[ -f "$f" ]]; then
    source "$f"
  fi
done

source /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

for config_file (~/.zsh/lib/*.zsh); do
  # echo source $config_file
  source $config_file
done

if (( $+commands[direnv] )); then
  eval "$(direnv hook zsh)"
fi

# vim: ft=zsh
