setopt prompt_subst

function _rprompt_info() {
  if [ -e $(brew --prefix zsh-git-prompt)/zshrc.sh ]; then
    git_super_status
  else
    vcs_info
    printf '%s' "${vcs_info_msg_0_}"
  fi
}

RPROMPT='$(_rprompt_info)'

# vim: ft=zsh
