---
extends: default

# yaml-files:
#   - '*.yaml'
#   - '*.yml'
#   - '.yamllint'

# rules:
#   braces: enable
#   brackets: enable
#   colons: enable
#   commas: enable
#   comments:
#     level: warning
#   comments-indentation:
#     level: warning
#   document-end: disable
#   document-start:
#     level: warning
#   empty-lines: enable
#   empty-values: disable
#   hyphens: enable
#   indentation: enable
#   key-duplicates: enable
#   key-ordering: disable
#   line-length: enable
#   new-line-at-end-of-file: enable
#   new-lines: enable
#   octal-values: disable
#   quoted-strings: disable
#   trailing-spaces: enable
#   truthy:
#     level: warning

rules:
  braces:
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
  brackets:
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
{{ if .work }}
  comments:
    min-spaces-from-content: 1  # compatibility with VSCode
{{ end }}
  document-end:
    present: false
  indentation:
    spaces: 2
    indent-sequences: true
  line-length:
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  new-lines:
    type: unix
  quoted-strings:
    quote-type: double
    required: only-when-needed

# vim: ft=yaml
