ACL/=
Ansible
Artifactory/=
Atlassian/=
CDN/=
CDNs/=
CENM/=
CLI/=
CRL/=
CRLs/=
CSR/=
CSRs/=
Comodo/=
CorDapp/=
Corda/=
Datadog/=
DevOps/=
ELK/=
Filebeat/=
Galera/=
GitHub/=
HSM/=
HashiCorp/=
Homebrew
IPsec/=
JDK/=
JKS/=
JSON/=
Jira/=
Jolokia/=
KeePass/=
KeyStore/=
Kibana/=
Logstash/=
MySQL/=
Neovim/=
Nessus/=
OSSEC/=
PKI/=
Percona/=
SendGrid/=
ShellCheck/=
TeamCity/=
Telegraf/=
Terraform/=
UUID/=
VCPU/=
VNet/=
VirtualBox/=
XtraDB/=
YAML/=
iPlayer/=
journalctl
macOS/=
markdownlint
nginx
playbook
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
qaops
{{- end }}
shfmt
sudo
systemctl
yamllint/=
