[commit]
{{- if .home }}
	gpgSign = true
{{- end }}

[tag]
{{- if .home }}
;	gpgSign = true
{{- end }}

[user]
	email = nosborn@users.noreply.github.com
{{- if .home }}
	signingkey = 4C036A880B354B36
{{- end }}

# vim: ft=gitconfig
