[advice]
	detachedHead = false
	statusHints = false
	waitingForEditor = false

[alias]
	wdiff = diff --word-diff

[blame]
	markIgnoredLines = true
	markUnblamableLines = true

[color]
	ui = auto

[commit]
{{- if ne "" .git.signingKey }}
	gpgSign = true
{{- end }}

[core]
	autocrlf = input
	editor = nvim
{{- if eq .chezmoi.os "darwin" }}
	ignoreCase = true
{{- end }}
	pager = delta
{{- if eq .chezmoi.os "darwin" }}
	trustctime = false ; play nicely with revisiond
{{- end }}

[credential]
{{- if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{- end }}

[delta]
	features = line-numbers zebra-dark
	light = false
	navigate = true

[diff]
	algorithm = histogram
	colorMoved = default
	mnemonicprefix = true
	renames = copies

[diff "ansible-vault"]
	textconv = ansible-vault view

[diff "exiftool"]
	cachetextconv = true
	textconv = exiftool

[diff "sops"]
	textconv = sops --config /dev/null --decrypt --ignore-mac

[diff "zipinfo"]
	cachetextconv = true
	textconv = zipinfo -lZ

[fetch]
	fsckobjects = true
	prune = true
	pruneTags = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f

[grep]
	extendedRegexp = true

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[log]
	date = human

[merge]
	conflictStyle = diff3
	ff = only
	log = false

[pull]
	rebase = true

[push]
	default = current
	followTags = true

[rebase]
	autoStash = true
	missingCommitsCheck = warn

[receive]
	fsckObjects = true

[rerere]
	enabled = true

[status]
	relativePaths = false
	showStash = true

[tag]
{{- if ne "" .git.signingKey }}
	gpgSign = true
{{- end }}

[transfer]
	fsckobjects = true

[user]
	email = {{ .git.email }}
	name = {{ .name }}
{{- if ne "" .git.signingKey }}
	signingKey = {{ .git.signingKey }}
{{- end }}
	useConfigOnly = true

; vim: ft=gitconfig.gohtmltmpl
