[commit]
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
	gpgSign = true
{{- end }}

[tag]
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
#	gpgSign = true
{{- end }}

[user]
	email = nick.osborn@r3.com
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
	signingKey = 1D2CD1D2
{{- end }}

# vim: ft=gitconfig
