[commit]
{{- if .work }}
	gpgSign = true
{{- end }}

[tag]
{{- if .work }}
	forceSignAnnotated = true
	gpgSign = true
{{- end }}

[user]
	email = nick.osborn@r3.com
{{- if .work }}
	signingKey = 1D2CD1D2
{{- end }}

# vim: ft=gitconfig
