---
extends: default

rules:
  braces:
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
{{ if .work }}
  comments:
    min-spaces-from-content: 1  # compatibility with VSCode
{{ end }}
  indentation:
    spaces: 2
    indent-sequences: true
  line-length:
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  new-lines:
    type: unix

# vim: ft=yaml
