---
extends: default

rules:
{{- if ne .chezmoi.hostname "19SGD-MAC11" }}
  key-ordering:
    level: warning
{{- end }}
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
  min-spaces-from-content: 1  # compatibility with VSCode
{{- end }}
  new-lines:
    type: unix

# vim: ft=yaml
