---
extends: default

rules:
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
{{- end }}
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
  comments:
    min-spaces-from-content: 1  # compatibility with VSCode
{{- end }}
  new-lines:
    type: unix

# vim: ft=yaml
