setlocal expandtab
setlocal filetype=markdown.pandoc
setlocal linebreak
setlocal shiftwidth=2
setlocal spell
setlocal tabstop=2
setlocal wrap

if exists('b:undo_ftplugin')
  let b:undo_ftplugin .= ' | setlocal expandtab< filetype< linebreak< shiftwidth< spell< tabstop< wrap<'
else
  let b:undo_ftplugin = 'setlocal expandtab< filetype< linebreak< shiftwidth< spell< tabstop< wrap<'
endif

let b:ale_fix_on_save = 1
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
let b:ale_fixers = ['remove_trailing_lines', 'trim_whitespace']
{{- else }}
let b:ale_fixers = ['prettier']
{{- end }}

" vim: ft=vim
