ACL/=
API/=
Ansible
Artifactory/=
Atlassian/=
CDN/=
CDNs/=
CENM/=
CLI/=
CRL/=
CRLs/=
CSR/=
CSRs/=
CommonMark/=
Comodo/=
CorDapp/=
Corda/=
Datadog/=
DevOps/=
ELK/=
Filebeat/=
Galera/=
GitHub/=
HSM/=
HashiCorp/=
Homebrew
IPsec/=
JDK/=
JKS/=
JSON/=
JUnit/=
Jira/=
Jolokia/=
KeePass/=
KeyStore/=
Kibana/=
Logstash/=
MySQL/=
Neovim/=
Nessus/=
OSSEC/=
PKI/=
Percona/=
{{ if .work -}}
R3/=
{{ end -}}
SendGrid/=
ShellCheck/=
TeamCity/=
Telegraf/=
Terraform/=
UAT/=
UTC/=
UUID/=
VCPU/=
VNet/=
VSCode/=
VirtualBox/=
XML/=
XtraDB/=
YAML/=
iPlayer/=
journalctl
macOS/=
markdownlint
nginx
playbook
{{ if .work -}}
qaops
{{ end -}}
shfmt
sudo
systemctl
yamllint/=
