ACL
Ansible
Artifactory
Atlassian
CDN
CDNs
CENM
CRL
CRLs
CSR
CSRs
Comodo
CorDapp
Corda
Datadog
DevOps
ELK
Filebeat
Galera
HSM
HashiCorp
Homebrew
IPsec
JDK
JKS
JSON
Jira
Jolokia
KeePass
KeyStore
Kibana
Logstash
MySQL
Nessus
OSSEC
PKI
Percona
SendGrid
TeamCity
Telegraf
UUID
VCPU
VNet
VirtualBox
XtraDB
YAML
iPlayer/=
journalctl
macOS/=
nginx
playbook
{{- if eq .chezmoi.hostname "19SGD-MAC11" }}
qaops
{{- end }}
sudo
systemctl
yamllint/=
