[advice]
	; detachedHead = false
	statusHints = false
	; waitingForEditor = false

[alias]
	fixup = !git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup
	wdiff = diff --word-diff

[blame]
	coloring = highlightRecent
	markIgnoredLines = true
	markUnblamableLines = true

[branch]
	sort = -committerdate

[column]
	ui = auto

[commit]
{{- if ne "" .git.signingKey }}
	gpgSign = true
{{- end }}
	verbose = true

[core]
	autocrlf = input
	editor = nvim
{{- if eq .chezmoi.os "darwin" }}
	ignoreCase = true
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
	trustctime = false ; play nicely with revisiond
{{- end }}

[credential]
{{- if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{- end }}

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[diff "ansible-vault"]
	textconv = ansible-vault view

[diff "exiftool"]
	cachetextconv = true
	textconv = exiftool

[diff "sops"]
	textconv = sops --config /dev/null --decrypt --ignore-mac

[diff "zipinfo"]
	cachetextconv = true
	textconv = zipinfo -lZ

[fetch]
	all = true
	; fsckobjects = true
	prune = true
	pruneTags = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f

; [grep]
; 	patternType = "extended"

[init]
	defaultBranch = main

[log]
	date = human

[merge]
	conflictStyle = zdiff3
	ff = only

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = simple
	followTags = true
;	useForceIfIncludes = true

[rebase]
	autoSquash = true
	autoStash = true
	; missingCommitsCheck = warn
	updateRefs = true

; [receive]
; 	fsckObjects = true

[rerere]
	autoupdate = true
	enabled = true

[status]
	; relativePaths = false
	showStash = true

[tag]
{{- if ne "" .git.signingKey }}
	gpgSign = true
{{- end }}
	sort = version:refname

; [transfer]
; 	fsckobjects = true

[url "https://github.com/"]
	insteadOf = git@github.com:

[url "https://github.com/"]
	insteadOf = github.com:

[user]
	email = {{ .git.email }}
	name = {{ .name }}
{{- if ne "" .git.signingKey }}
	signingKey = {{ .git.signingKey }}
{{- end }}
	useConfigOnly = true

; vim: ft=gitconfig.gohtmltmpl
