*.bak
*.local.json
*.local.md
*.log
*.pyc
*.retry
*.tfplan
*.tfplan.*
*.tfstate
*.tfstate.*
.AppleDB
.AppleDesktop
.AppleDouble
.CFUserTextEncoding
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.Temporary-Items
.Trash
.Trashes
.VolumeIcons.icns
._*
.ansible
.apdisk
.bash_history
.bundle
.cache
.com.apple.timemachine.donotpresent
.direnv
.docker
.envrc
.fsenventd
.histfile
.lesshst
.node_repl_history
.terraform
.terraform.tfstate.lock.info
.terragrunt-cache
.tflint.d
.vagrant
.zcompcache
.zcompdump
.zsh_sessions

NetrwTreeListing
Network Trash Folder
Temporary Items
VirtualBox VMs

1
1.yaml
2.yaml
3.yaml

.claude/settings.local.json
CLAUDE.local.md

{{- if eq .where "work" }}
.pre-commit-config.yaml
{{- end }}
