{
  "default_key": "default",
  "keys": {
    "default": {
      "key": "{{ .ns1.api_key }}",
      "desc": "imported API key"
    }
  },
  "endpoint": "api.nsone.net",
  "port": 443,
  "api_version": "v1",
  "cli": {
    "debug": false,
    "output_format": "text",
    "verbosity": 0,
    "write_lock": false,
    "force": false
  },
  "verbosity": 0,
  "transport": "requests"
}
