[whitelist]
prefix = [
{{- if ne "" .github_org }}
  "{{ .chezmoi.homeDir }}/github.com/{{ .github_org }}",
{{- end }}
{{- if ne "" .github_user }}
  "{{ .chezmoi.homeDir }}/github.com/{{ .github_user }}"
{{- end }}
]
